/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  height: 900px;
  background-color: rgb(132, 132, 176);
  justify-content: center;
  align-items: center;
}
h1 {
  color: #333;
}
form {
  margin-bottom: 20px;
}
input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}
button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
li button {
  margin-left: 10px;
  background-color: #dc3545;
}
li button:hover {
  background-color: #c82333;
}

@media (max-width: 780px) {
  body {
    height: 600px;
    width: auto;
  }
}
